In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

## 병원

In [ ]:
data = pd.read_excel('천안아산_병원.xlsx')

In [ ]:
cols = ['병상수', '의료인력수', '진료과목수', '의료기기종류', '치과의료전문의수']

# 정규화
scaler = MinMaxScaler()
data[cols] = scaler.fit_transform(data[cols])

In [ ]:
# 쌍대비교표
pairwise_matrix = np.array([
    [1, 1/7, 1/5, 1/6, 1/4],
    [7, 1, 4, 5, 6],
    [5, 1/4, 1, 3, 4],
    [6, 1/7, 1/5, 1, 3],
    [4, 1/5, 1/3, 1/3, 1]
])
row_sums = pairwise_matrix.sum(axis=1)

# 가중치 벡터 계산
weights = row_sums / row_sums.sum()

### 수요량 계산

In [ ]:
data['병상수'] = data['병상수'] * weights[0]
data['의료인력수'] = data['의료인력수'] * weights[1]
data['진료과목수'] = data['진료과목수'] * weights[2]
data['의료기기종류'] = data['의료기기종류'] * weights[3]
data['치과의료전문의수'] = data['치과의료전문의수'] * weights[4]

In [ ]:
df = data[['병상수', '의료인력수', '진료과목수', '의료기기종류', '치과의료전문의수']]

In [ ]:
df.values.sum()

## 산업단지

In [ ]:
ch_data = pd.read_excel('ch_data.xlsx')
as_data = pd.read_excel('as_data.xlsx')
as_data2 = pd.read_csv('as_data2.csv', encoding='cp949')

### 전처리

In [ ]:
# 단지명별로 그룹화
grouped = as_data2.groupby('단지명')

# 단지명별 회사 수와 종업원 수의 총합을 계산
grouped = grouped.agg(유지업체수=pd.NamedAgg(column='회사명', aggfunc='count'),
                     고용인원=pd.NamedAgg(column='종업원수', aggfunc='sum'))

print(grouped.shape)

In [ ]:
# '단지명' 인덱스를 칼럼으로 변환
grouped.reset_index(inplace=True)

# as_data2 데이터프레임과 grouped 데이터프레임을 '단지명'을 기준으로 병합
merged_data = pd.merge(as_data, grouped, on='단지명', how='left')

# NaN 값을 0으로 대체
merged_data.fillna(0, inplace=True)

print(merged_data.head(2))

In [ ]:
# 칼럼 삭제
ch_data.drop(columns=['단지유형', '위치', '조성', '분양', '지정일'], inplace=True)
print(ch_data.columns)

merged_data.drop(columns=['단지유형', '위치', '조성', '분양', '지정일'], inplace=True)
print(merged_data.columns)

In [ ]:
cols = ['지정면적(㎡)', '주거지역', '상업지역', '공업지역', '녹지지역', '기타',
                     '유지업체수', '고용인원']

# 정규화
scaler = MinMaxScaler()
merged_data[cols] = scaler.fit_transform(merged_data[cols])

In [ ]:
# 쌍대비교표
pairwise_matrix = np.array([
    [1, 6, 5, 6, 8, 4, 4, 4],
    [1/6, 1, 4, 5, 6, 3, 3, 3],
    [1/5, 1/4, 1, 3, 5, 2, 2, 2],
    [1/6, 1/5, 1/5, 1, 3, 2, 2, 2],
    [1/8, 1/6, 1/5, 1/3, 1, 2, 2, 2],
    [1/4, 1/3, 1/2, 1/2, 1/2, 1, 1, 1],
    [1/4, 1/3, 1/2, 1/2, 1/2, 1, 1, 1],
    [1/4, 1/3, 1/2, 1/2, 1/2, 1, 1, 1]
])

row_sums = pairwise_matrix.sum(axis=1)

# 가중치 벡터 계산
weights = row_sums / row_sums.sum()

### 수요량 계산

In [ ]:
merged_data['지정면적(㎡)'] = merged_data['지정면적(㎡)'] * weights[0]
merged_data['주거지역'] = merged_data['주거지역'] * weights[1]
merged_data['상업지역'] = merged_data['상업지역'] * weights[2]
merged_data['공업지역'] = merged_data['공업지역'] * weights[3]
merged_data['녹지지역'] = merged_data['고용인원'] * weights[4]
merged_data['기타'] = merged_data['기타'] * weights[5]
merged_data['유지업체수'] = merged_data['유지업체수'] * weights[6]
merged_data['고용인원'] = merged_data['고용인원'] * weights[7]

In [ ]:
df = merged_data[['지정면적(㎡)', '주거지역', '상업지역', '공업지역', '녹지지역', '기타',
                     '유지업체수', '고용인원']]

In [ ]:
df.values.sum()

## 대학

In [ ]:
data = pd.read_excel('천안시_대학정보_최종.xlsx')

In [ ]:
# 없는 값이라 결측값으로 비워놨음
data = data.fillna(0)

In [ ]:
cols= ['1인당장학금', '1인당연구비', '학과 개수', '전체학생수', '교수', '논문실적',
                     '전임교원 1인당 저 역서실적']

# 정규화
scaler = MinMaxScaler()
data[cols] = scaler.fit_transform(data[cols])

In [ ]:
# 쌍대비교표
pairwise_matrix = np.array([
    [1, 1/3, 1/5, 6, 8, 4, 4],
    [3, 1, 1/3, 1/4, 1/3, 1/5, 1/9],
    [4, 3, 1, 1/3, 1/3, 1/4, 1/5],
    [5, 4, 3, 1, 1, 2, 1/3],
    [4, 3, 3, 2, 1, 1/3, 1/4],
    [6, 5, 4, 3, 3, 1, 1],
    [7, 9, 5, 3, 4, 3, 1]
])

row_sums = pairwise_matrix.sum(axis=1)

# 가중치 벡터 계산
weights = row_sums / row_sums.sum()

### 수요량 계산

In [ ]:
data['1인당장학금'] = data['1인당장학금'] * weights[0]
data['1인당연구비'] = data['1인당연구비'] * weights[1]
data['학과 개수'] = data['학과 개수'] * weights[2]
data['전체학생수'] = data['전체학생수'] * weights[3]
data['교수'] = data['교수'] * weights[4]
data['논문실적'] = data['논문실적'] * weights[5]
data['전임교원 1인당 저 역서실적'] = data['전임교원 1인당 저 역서실적'] * weights[6]

In [ ]:
df = data[['1인당장학금', '1인당연구비', '학과 개수', '전체학생수', '교수', '논문실적', '전임교원 1인당 저 역서실적']]

In [ ]:
df.values.sum()

## KTX 접근성

In [ ]:
# 데이터 불러오기
data = pd.read_excel('data.xlsx')
data1 = pd.read_csv('data1.csv',encoding='euc-kr')
data2 = pd.read_csv('data2.csv',encoding='euc-kr')
data3 = pd.read_excel('data3.xlsx')

### 전처리

In [ ]:
# 천안아산역만 필터링
ktx = data1.loc[data1['정차역'].isin(['천안아산'])]

In [ ]:
total_boarding = ktx['승차인원수'].sum()
total_alighting = ktx['하차인원수'].sum()
total_boarding, total_alighting

In [ ]:
ktx_num = data2.loc[data2['선명'].isin(['경부선', '호남선','전라선','경전선', '동해선', ])]

In [ ]:
# NaN 값을 0으로 채운 후 정수로 변환
data3 = data3.applymap(lambda x: int(x) if isinstance(x, (int, float)) and not pd.isna(x) else x)

In [ ]:
data3= data3.iloc[3:,:]

# 열 이름 변경
new_column_names = ['역명구분', '역명', '열3', '구분', '2023년 역별 승하차인원 현황 1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월', '합계','일평균','비고']  # 변경할 열 이름 목록
data3.columns = new_column_names
data3 = data3.drop(columns=['역명구분', '열3','비고'], errors='ignore')

In [ ]:
# 천안역, 아산역, 천안아산역만 필터링
수송실적 = data3.loc[data3['역명'].isin(['천안', '아산','천안아산'])]

In [ ]:
new_column_names = ['역명', '일평균승차', '일평균하차', 'KTX여부', 'KTX운행횟수', '새마을,itx,지하철 일평균 운행횟수']
data.columns = new_column_names

In [ ]:
cols = ['일평균승차', '일평균하차', 'KTX여부', 'KTX운행횟수', '새마을,itx,지하철 일평균 운행횟수']

# 정규화
scaler = MinMaxScaler()
data[cols] = scaler.fit_transform(data[cols])

In [ ]:
# 쌍대비교표
pairwise_matrix = np.array([
    [1, 2, 5, 6, 7],
    [1/2, 1, 5, 6, 7],
    [1/5, 1/5, 1, 3, 4],
    [1/6, 1/6, 1/3, 1, 2],
    [1/7, 1/7, 1/4, 1/2, 1]
])
row_sums = pairwise_matrix.sum(axis=1)

# 가중치 벡터 계산
weights = row_sums / row_sums.sum()

### 수요량 계산

In [ ]:
data['일평균승차'] = data['일평균승차'] * weights[0]
data['일평균하차'] = data['일평균하차'] * weights[1]
data['KTX여부'] = data['KTX여부'] * weights[2]
data['KTX운행횟수'] = data['KTX운행횟수'] * weights[3]
data['새마을,itx,지하철 일평균 운행횟수'] = data['새마을,itx,지하철 일평균 운행횟수'] * weights[4]

In [ ]:
df = data[['일평균승차', '일평균하차', 'KTX여부', 'KTX운행횟수', '새마을,itx,지하철 일평균 운행횟수']]

In [ ]:
df.values.sum()